{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "globals": {
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true,
  }
}
